<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Comunicação de dados</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

	<h:outputStylesheet library="css" name="bootstrap.min.css" />

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</h:head>
<style>
	.tabela {
		text-align: center;
	}
</style>

<h:body style="overflow-x: hidden;">
	<h:form>
		<div class="container-fluid">
			
			
			<h:panelGroup id="divDashboard">
			
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-2" align="center">
						<h:graphicImage library="imgs" name="cabrito.png" style="width: 100px" />
						<h5 style="margin-top: -5px">Goat Group</h5>
					</div>
					<div class="col-md-8" align="right">
						<h5 style="margin-top: 40px">Comunicação de Dados<br />
							<small>Lúcio Teixeira</small><br />
							<small>Mariel Couto</small><br />
							<small>Maurício Zirbes</small>
						</h5>
					</div>
				</div>
				<h4 class="page-header" style="margin-top: -0px"></h4>
				<div class="row" style="margin-top: -20px">
					<div class="col-md-1"></div> 
					<div class="col-md-10" >
						<h4 class="page-header">Conversor</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-2" >
						<h:selectOneMenu styleClass="form-control" value="#{hammingGerador.metotoConversor}">
							<f:selectItem itemLabel="ASCII para BINÁRIO" itemValue="0" />
							<f:selectItem itemLabel="BINÁRIO PARA ASCII" itemValue="1" />
							<f:ajax render="@all" execute="@all" event="change" />
						</h:selectOneMenu>
					</div>
					<div class="col-md-2" >
						<h:inputText styleClass="form-control" value="#{hammingGerador.mensagemConversao}" > 
							<f:ajax render="@all grafico" event="keyup" />
						</h:inputText>
					</div>
					<div class="col-md-1" >
						<h:commandLink styleClass="btn btn-default" action="#{hammingGerador.executaConversao}" value="Converter >" ></h:commandLink>
					</div>
					<div class="col-md-5" >
						<span class="form-control disabled" > 
							#{hammingGerador.mensagemConvertida}
						</span>
					</div>
				</div>
				<div class="row" style="margin-top: 10px">
					<div class="col-md-1"></div> 
					<div class="col-md-10" >
						<h4 class="page-header">Hamming</h4>
					</div>
				</div>

				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-5" >
						Mensagem Enviada:
						<h:inputText styleClass="form-control" value="#{hammingGerador.mensagemEnviada}" > 
							<f:ajax />
						</h:inputText>
					</div>
					<div class="col-md-1" >
						<br />
						<h:commandLink styleClass="btn btn-default" action="#{hammingGerador.chamaHamming1()}" value="Enviar >" ></h:commandLink>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-10" >
						<h5 class="page-header">Geração</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-10" >
						<h:dataTable style="font-size: 12px" styleClass="table table-hover table-bordered" value="#{hammingGerador.listaMensagens}" var="h"
							rowClasses="tabela">
							<h:column>
								#{h.ascEnviado}
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit1}</span>
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit2}</span>
							</h:column>
							<h:column>
								#{h.bit3}
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit4}</span>
							</h:column>
							<h:column>
								#{h.bit5}
							</h:column>
							<h:column>
								#{h.bit6}
							</h:column>
							<h:column>
								#{h.bit7}
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit8}</span>
							</h:column>
							<h:column>
								#{h.bit9}
							</h:column>
							<h:column>
								#{h.bit10}
							</h:column>
							<h:column>
								#{h.bit11}
							</h:column>
							<h:column>
								#{h.bit12}
							</h:column>
							<h:column>
								#{h.ascRecebido}
							</h:column>
							
							
						</h:dataTable>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-2" >
						Linha Erro:
						<h:inputText styleClass="form-control" value="#{hammingGerador.linhaAlterada}" > 
							<f:ajax />
						</h:inputText>
					</div>
					<div class="col-md-2" >
						Posição Erro:
						<h:inputText styleClass="form-control" value="#{hammingGerador.posicaoAlterada}" > 
							<f:ajax />
						</h:inputText>
					</div>
					<div class="col-md-1" >
						<br />
						<h:commandLink styleClass="btn btn-default" action="#{hammingGerador.chamaHamming2()}" value="Enviar >" ></h:commandLink>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-10" >
						<h5 class="page-header">Detecção</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-10" >
						<h:dataTable style="font-size: 12px" styleClass="table table-hover table-bordered" value="#{hammingGerador.listaMensagensDeteccao}" var="h"
							rowClasses="tabela">
							<h:column>
								#{h.ascEnviado}
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit1}</span>
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit2}</span>
							</h:column>
							<h:column>
								#{h.bit3}
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit4}</span>
							</h:column>
							<h:column>
								#{h.bit5}
							</h:column>
							<h:column>
								#{h.bit6}
							</h:column>
							<h:column>
								#{h.bit7}
							</h:column>
							<h:column>
								<span style="color: red">#{h.bit8}</span>
							</h:column>
							<h:column>
								#{h.bit9}
							</h:column>
							<h:column>
								#{h.bit10}
							</h:column>
							<h:column>
								#{h.bit11}
							</h:column>
							<h:column>
								#{h.bit12}
							</h:column>
							<h:column>
								#{h.ascRecebido}
							</h:column>
							<h:column>
								#{h.resultado}
							</h:column>
							
							
						</h:dataTable>
					</div>
				</div>
				
				<h4 class="page-header" style="margin-top: -0px"></h4>
				<div class="row" style="margin-top: -20px">
					<div class="col-md-1"></div> 
					<div class="col-md-10" >
						<h4 class="page-header">Extra - Conversor com Bit de Paridade</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1"></div> 
					<div class="col-md-2" >
						<h:selectOneMenu styleClass="form-control" value="#{hammingGerador.tipoParidade}">
							<f:selectItem itemLabel="PAR" itemValue="PAR" />
							<f:selectItem itemLabel="IMPAR" itemValue="IMPAR" />
						</h:selectOneMenu>
					</div>
					<div class="col-md-2" >
						<h:inputText styleClass="form-control" value="#{hammingGerador.mensagemConversao}" > 
							<f:ajax render="@all grafico" event="keyup" />
						</h:inputText>
					</div>
					<div class="col-md-1" >
						<h:commandLink styleClass="btn btn-default" action="#{hammingGerador.executaConversaoBitParidade}" value="Converter >" ></h:commandLink>
					</div>
					<div class="col-md-5" >
						<span class="form-control disabled" > 
							#{hammingGerador.mensagemConvertida}
						</span>
					</div>
				</div>
				
				<br /><br /><br /><br /><br /><br />
				
				
						
			</h:panelGroup>
		</div>
		<h:outputScript library="js" name="jquery-2.1.0.min.js" />
		<h:outputScript library="js" name="bootstrap.min.js" />
		
	</h:form>
</h:body>
</html>